<!-- View 1 -->
<div>
    <webcam [trigger]="trigger" [width]="width" [height]="height" (imageCapture)="snapshot($event)" [captureImageData]="true" imageType="image/png">
    </webcam>
</div>

<div>
    <p>Aspect</p>
    <input type="radio" name="height" value="282" (change) = "height = 282" [defaultChecked]="true"> 16:9 
    <input type="radio" name="height" value="375" (change) = "height = 375"> 4:3 
     <input type="radio" name="height" value="333" (change) = "height = 333"> 3:2
     <input type="radio" name="height" value="500" (change) = "height = 500"> 1:1
</div>

<div>
    <button type="button" (click)="snap()">Snap</button>
</div>

